@import url(https://raw.githubusercontent.com/mazeymoos0022/Personal/main/AppleEmojis/ThemeDevBadge.css);
@import url(https://raw.githubusercontent.com/mazeymoos0022/Personal/main/AppleEmojis/spritesheets.css);
@import url(https://raw.githubusercontent.com/mazeymoos0022/Personal/main/AppleEmojis/people.css);
@import url(https://raw.githubusercontent.com/mazeymoos0022/Personal/main/AppleEmojis/nature.css);
@import url(https://raw.githubusercontent.com/mazeymoos0022/Personal/main/AppleEmojis/food.css);
@import url(https://raw.githubusercontent.com/mazeymoos0022/Personal/main/AppleEmojis/activity.css);
@import url(https://raw.githubusercontent.com/mazeymoos0022/Personal/main/AppleEmojis/travel.css);
@import url(https://raw.githubusercontent.com/mazeymoos0022/Personal/main/AppleEmojis/objects.css);
@import url(https://raw.githubusercontent.com/mazeymoos0022/Personal/main/AppleEmojis/symbols.css);
@import url(https://raw.githubusercontent.com/mazeymoos0022/Personal/main/AppleEmojis/flags.css);
@namespace xlink 'http://www.w3.org/1999/xlink';
.sprite__294b3 {
	-webkit-mask: none !important;
	background-color: transparent !important;
	background-position: var(--custom-emoji-sprite-bg-position) !important;
	background-size: var(--custom-emoji-sprite-bg-size) !important;
}
.spriteGreyscale__750f4 {
	filter: grayscale(1) !important;
}
